:root {
    --active: #ff9100;
    --disable: #ff910095;
    --short: #dc0022;
    --long: #b3fc00;

    /**page*/
    --navbar-bg: #fc8b12;
    --navbar-mob-bg: #fc8b12;
    --page-bg: #f2f3f5;
    --page-mob-bg: #f6f5f6;
    --box-bg: #ffffff;
    --page-header: #ffffff;
    --text-title-color: #111111;
    --text-color: #111111;
    --text-content-color: #4d4d4d;
    --text-label: #9f9fac;
    --separator: #c7c7c740;
    --separator2: #ababab;
    --box-separator: #c7c7c740;
    --text-not-found: #414044;
    --chip-bg: #5a5a5f87;
    --chip-text: #ffffff;
    --chip-active-bg: var(--active);
    --chip-active-text: #ffffff;

    /** side menu */
    --menu-bg: #fc8b11;
    --menu-divider: #ec7b0390;
    --menu-text: #ffffff;
    --menu-chevon-color: #fff8;
    --menu-box-bg: #ffb56550;
    --menu-money-bg: #ec810d;
    --menu-text-title: #ffffff;
    --menu-wallet-bg: #e87b07;
    --menu-wallet-separator: #ef800a;
    --menu-wallet-text: #ffffff;
    --menu-withdraw-btn-bg: #ffb56550;
    --menu-deposit-btn-bg: #ffebd850;
    --menu-account-text: #ffffff;

    /** bottom navbar */
    --bottom-nav-bg: #fa8100;
    --bottom-nav-active: #ffffff;
    --bottom-nav-color: #fffdce;
    --bottom-nav-icon-color: #fffdce;
    --bottom-nav-border: #e46d11;


    /** footer*/
    --bg-footer: #edeced;
    --footer-text: #76767e;
    --footer-title: #111111;

    /** navigation bar background */
    --navbar-item-active-bg: #ffffff;
    --navbar-item-active-color: #ff9100;
    --navbar-item-color: #ffebda;
    --navbar-money-bg: #b75f0785;
    --balance-view-bg: #b75f0785;
    --header-login-btn-bg: #ffffff;
    --header-login-btn-text: var(--active);
    --header-signup-btn-bg: #00000090;
    --header-signup-btn-text: #ffffff;
    --balance-viewer-wallet-bg: #f5f4f5;
    --arrow-color: #ffffff;

    /** home */
    --game-menu-item-bg-active: #ffffff;
    --game-menu-item-color: #ffebda;
    --game-menu-bg: #fc8b11;
    --home-divider: transparent;
    --filter-item-bg: #f2f3f5;
    --filter-bg: #ffffff;
    --cate-icon-color: #fc8b11;
    --cate-color: #111111;
    --swiper-btn-bg: #ffffff;
    --swiper-btn-text: #959595;
    --bet-table-header-text: #818181;
    --live-game-bg: linear-gradient(to bottom, #9a836e, #ffffff);

    /** bottomsheet */
    --bottomsheet-bg: #eeeeee;
    --bottomsheet-text: #111111;
    --bottomsheet-separator: var(--separator);

    /** auth */
    --auth-text: #111111;
    --auth-label: #454548;
    --auth-tab-bg: #eee;
    --auth-active-tab-bg: #fc8b11;
    --auth-bg: #ffffff;
    --auth-web3-bg: #f6f6f6;

    /** vip */
    --vip-section-bg: linear-gradient(#eb8827, transparent 15%);
    --vip-tab-bg: #eb8827;
    --vip-tab-text: #ffffff;
    --vip-privilege-hint: #e9e9e9;
    --vip-privilege-inactive: #c7c7c7;
    --vip-privilege-active: #ffffff;
    --vip-privilege-bg: linear-gradient(to top right, #eb8827, #eb8827);
    --vip-chip-bg: #ffffff;
    --vip-chip-text: #3b3b3b;
    --vip-rule1-bg: #dbdbdb;
    --vip-rule2-bg: #eeeeee;
    --vip-rule2-title: #282828;
    --vip-rule2-text: #3e3e3e;

    /**element*/
    --input-bg: #efefef;
    --input-placeholder: #8a8a8d80;
    --input-border: #444449;
    --selector-bg: linear-gradient(to bottom, #e3e3e3, #ffffff);
    --provider-bg: #ffffff;

    /**agent*/
    --agent-bg: linear-gradient(200deg,
            hsl(31deg, 98%, 53%) 0px,
            hsl(31deg, 98%, 53%) 180px,
            hsl(31, 71%, 78%) 240px,
            hsl(0, 0%, 94%) 350px,
            hsl(220, 13%, 95%) 500px,
            hsl(220, 13%, 95%) 100%);
    --agent-header-bg: hsl(31deg, 98%, 53%);
    --agent-invite-title: #ffffff;
    --agent-overview-bg: #ff8000;
    --agent-new-sub-bg: #ffffff;
    --agent-search-btn-bg: #ffffff;
    --agent-searchbox-border: #ffffff;
    --agent-searchbox-bg: #ffffff;
    --agent-game-tab-color: var(--active);
    --agent-game-tab-bg: #ffffff;
    --agent-game-active-tab-color: #ffffff;
    --agent-game-active-tab-bg: var(--active);

    /**wallet*/
    --header-btn-bg: #da7100;
    --header-btn-text: var(--active);
    --header-active-btn-text: #ffffff;
    --deposit-wallet-address-bg: var(--page-mob-bg);
    --deposit-wallet-address-border: #333239;
    --deposit-address-copy-bg: #ffffff;
    --deposit-alert-bg: var(--page-mob-bg);
    --deposit-alert-text: #d0b400;
    --deposit-separator: var(--separator);
    --select-wallet-box-bg: #ffffff;
    --select-wallet-bg: var(--page-mob-bg);
    --select-wallet-arrow-bg: #f0f0f0;

    /**chat**/
    --chat-menu-arrow-color: #00000080;
}

.mui-popover-paper {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1),
        0 8px 10px 1px rgba(0, 0, 0, 0.05),
        0 3px 10px 2px rgba(0, 0, 0, 0.05) !important;
    background-color: transparent !important;
    margin-top: 11.5px !important;
    overflow: visible !important;
}

.popover-custom-class {
    background-color: #ffffff;
    color: var(--text-color);
    border-radius: 0.375rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}



.modal-custom-class {
    border-radius: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 0.75rem;
    padding-bottom: 1.5rem;
    width: 500px;
    outline: none;
    border: none;
    background-color: #ffffff;
    color: black;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1),
        0 8px 10px 1px rgba(0, 0, 0, 0.05),
        0 3px 10px 2px rgba(0, 0, 0, 0.05) !important;
}



.ct-switch .slider {
    background-color: #b7b7b7;
}

.ct-switch .slider::after {
    background-image: linear-gradient(to right, #ffffff, #ffffff);
}

.action-btn {
    width: 100%;
    border-radius: 0.75rem;
    padding-bottom: 1px;
    color: #ffffff;
}

.action-btn__active {
    background-color: #ff9100;
}

.action-btn__inactive {
    background-color: #ff910070;
}

.action-btn .i1 {
    width: 100%;
    background-color: #fde7ca;
    border-radius: 0.75rem;
    padding-bottom: 3px;
}

.action-btn .i2 {
    width: 100%;
    border-radius: 0.75rem;
    padding-bottom: 4px;
}

.action-btn .i2__active {
    background-color: #cd7503;
}

.action-btn .i2__inactive {
    background-color: #cd750370;
}

.action-btn .i3 {
    width: 100%;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}

.action-btn .i3__active {
    background-image: linear-gradient(to right, #ffaf46, #ff9810 70%, #ff9100 100%);
}

.action-btn .i3__inactive {
    background-image: linear-gradient(to right, #ffaf4680, #ff981080 70%, #ff910080 100%);
}

.action-btn .i3 .s1__active {
    background-color: #ba7b2a80;
}

.action-btn .i3 .s1__inactive {
    background-color: #ff910080;
}

.chat-sender {
    background-color: white;
    color: black;
    padding-top: 0.25rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.chat-sender .arrow {
    background-color: var(--page-bg);
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
}

.sender-btn {
    background-color: var(--page-bg);
    color: #00000080;
}

.sender-btn__disable {
    background-color: var(--disable);
    color: #00000080;
  }

.sender-menu-item {
    background-color: var(--page-bg);
    color: #00000080;
    width: 70px;
    height: 70px;
}